[user]
	name = Justin Firsching
	email = JustinFirsching@gmail.com
	signingkey = 6D2DBF40ED8F62AB
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
[init]
	defaultBranch = master
[credential]
	helper = store
[push]
	default = current
[merge]
	tool = nvimdiff
[mergetool]
	path = nvim
[fetch]
	prune = true
	pruneTags = true
